.ourWorksContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 100px;
    position: relative;
    overflow: hidden;
}

.glowBar {
  position: absolute;
  top: 120px;
  left: -50px;
  height: 300.78px;
  width: 2003.16px;
  border-radius: 233.5px;
  background: linear-gradient(180deg, rgb(174, 33, 253, 0.42) 0%, #AE21FD 50%, rgba(84, 84, 212, 0.42) 100%);
  opacity: 0.2;
  filter: blur(20px);
  pointer-events: none;
  z-index: 0;
}

.ourWorksTitle {
    font-family: 'Outfit', sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    z-index: 1;
}

.ourWorksTitleSpan {
    font-family: 'Outfit';
    background: linear-gradient(to right,
            #BA2FFC 0%,
            #B529FD 16%,
            #B123FD 32%,
            #A617F8 75%,
            #C836F2 87%,
            #EB55EC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    z-index: 1;
}

.ourWorksDescription {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    z-index: 1;
}

.ourWorksCarousel {
    width: 1217px;
    height: 746px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    z-index: 1;

    .ourWorksCarouselMain {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        

        .ourWorksCarouselContent {
            width: 1045px;
            height: 714px;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .ourWorksCarouselContentTop {
                width: 100%;
                height: 438px;
                border-radius: 16px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }

            .ourWorksCarouselContentBottom {
                width: 100%;
                height: 264px;
                background-color: #141A37;
                border-radius: 16px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0 64px;

                .ourWorksCarouselContentBottomTags {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;
                    margin-bottom: 24px;
                }

                .ourWorksCarouselContentBottomTitle {
                    font-family: 'Outfit', sans-serif;
                    font-size: 32px;
                    font-weight: 600;
                    color: #fff;
                    text-align: center;
                    margin-bottom: 16px;
                }

                .ourWorksCarouselContentBottomDescription {
                    font-family: 'Manrope', sans-serif;
                    font-size: 16px;
                    font-weight: 200;
                    color: #fff;
                    text-align: center;
                }
            }
        }

        .ourWorksCarouselButtons {
            all: unset;
            cursor: pointer;
            width: 48px;
            height: 48px;
            background-color: #333333;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .ourWorksCarouselBreadcrumbs {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .ourWorksCarouselBreadcrumbsActive {
            width: 8px;
            height: 8px;
            background-color: #B123FD;
            border-radius: 50%;
        }

        .ourWorksCarouselBreadcrumbsInactive {
            width: 8px;
            height: 8px;
            background-color: #2D2D2D;
            border-radius: 50%;
        }
    }
}