.homeContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroWrp {
    width: 100%;
    padding-top: 238px;
    background-image: url('/assets/herobg.png');
    background-size: cover;
    background-position: 70% center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: 0% 0%;

    @media (max-width: 1440px) {
        background-size: 135%;
        background-position: 50% 12%;
    }
}

.heroH1 {
    font-size: 64px;
    font-family: 'Outfit';
    text-align: center;
    margin-bottom: 24px;
}

.heroP {
    text-align: center;
    margin-bottom: 32px;
    font-size: 16px;
}

.heroH1Span {
    font-family: 'Surgena';
    background: linear-gradient(to right,
            #BA2FFC 0%,
            #B529FD 16%,
            #B123FD 32%,
            #A617F8 75%,
            #C836F2 87%,
            #EB55EC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.heroBtnWrp {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 120px;
    width: auto;
}

.heroWorksWrp {
    display: flex;
    gap: 64px;
    margin-bottom: 178px;
}

.heroWorksItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 172px;
}

.transitionH1 {
    font-family: 'Outfit';
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}

.transitionH1Span {
    font-family: 'Surgena';
    background: linear-gradient(to right,
            #BA2FFC 0%,
            #B529FD 16%,
            #B123FD 32%,
            #A617F8 75%,
            #C836F2 87%,
            #EB55EC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
}

.transitionP {
    width: 772px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 152%;
    letter-spacing: 0px;
    margin-top: 29px;
}

.systemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 144px;
    gap: 16px;
}

.systemCardCont {
    margin-top: 29px;
    display: flex;
    gap: 24px;
}

.systemH3 {
    font-family: 'Outfit';
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
}

.systemSpan {
    font-family: 'Outfit';
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    color: #B123FD;
}
