.wrapper {
  display: flex;
  justify-content: center;
}

.card {
  width: 779px;                      
  border-radius: 20px;
  background: rgba(20, 26, 55, 0.55);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  margin-bottom: 120px;
}

.inner {
  width: 683px;
  margin: 0 auto;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.topText {
  width: 683px;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  margin: 0;
}

.grid {
  width: 683px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px 28px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.full {
  grid-column: span 2;
}


.label {
  font-size: 14px;
  color: #ffffff;
}


.input,
.select {
  height: 48px;
  padding: 0 16px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: #ffffff;                 
  color: #888888;                     
  outline: none;
  font-size: 14px;
}

.input::placeholder,
.textarea::placeholder {
  color: #888888; 
  opacity: 1;
}

.textarea {
  min-height: 110px;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: #ffffff;
  color: #888888;
  resize: none;
  outline: none;
  font-size: 14px;
}

.input:focus,
.select:focus,
.textarea:focus {
  border-color: #141A37;
  
}

.bottomNote {
  width: 683px;
  font-size: 12px;  
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

.TextFieldBtnWrp {
  width: 680px;
  margin: 0 auto 48px; 
}

.submitBtn {
  width: 100%;              
  height: 50px;       
  border: none;
  border-radius: 999px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 16px;
  font-weight: 500;
  font-family: "Surgena";

  color: white;

  background: linear-gradient(
    to right,
    #BA2FFC 0%,
    #B529FD 16%,
    #B123FD 32%,
    #A617F8 75%,
    #C836F2 87%,
    #EB55EC 100%
  );

  transition: 0.25s ease;
}

.arrow {
  font-size: 14px;
}