.container {
  display: flex;
  flex-direction: column;
  gap: 66px;
  top: -250px;
  position: relative;


}

.gradient {
  position: absolute;
  bottom: -600px;
  right: -320px;
  z-index: 0;
  pointer-events: none;
}

@media (max-width: 1440px) {
  .container {
    top: -425px;
    margin-bottom: -325px;
  }

  .gradient {
    bottom: -400px;
  }
}