.container {
  display: flex;
  flex-direction: column;
  gap: 66px;
  position: relative;
  margin-top: -250px; // use margin instead of top
}

.gradient {
  position: absolute;
  bottom: -600px;
  right: -320px;
  z-index: 0;
  pointer-events: none;
}

@media (max-width: 1440px) {
  .container {
    margin-bottom: 100px;
  }

  .gradient {
    bottom: -400px;
  }
}

@media (max-height: 900px) {
  .container {
    margin-bottom: 100px;
    margin-top: -150px;
  }

  .gradient {
    bottom: -400px;
  }
}

@media (min-height: 800px) {
  .container {
    margin-bottom: 100px;
    margin-top: -200px;
  }

  .gradient {
    bottom: -400px;
  }
}