.homeWrp {
	width: 100vw;
	max-width: 100vw;
	overflow-x: hidden;
	min-height: 100vh;
	background-color: #060C22;
}

.container {
	position: relative;
	height: 100vh;
	overflow: hidden;
	background-image: url('/Assets/loginbgelemnts.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.backgroundElement {
	top: 0;
	left: 0;
	position: absolute;
	z-index: 2;
	animation: floatLeft 4s ease-in-out infinite;

	img {
		width: 100%;
	}
}

.backgroundElement2 {
	top: 0;
	right: 0;
	position: absolute;
	z-index: 2;
	animation: floatRight 4.5s ease-in-out infinite;

	img {
		width: 100%;
	}
}

.backgroundElement3 {
	top: 247px;
	left: 242px;
	position: absolute;
	z-index: 2;
	animation: explodeToLeft 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards, spinForever 2s linear 1.2s infinite;

	img {
		width: 100%;
	}
}

.backgroundElement4 {
	top: 470px;
	left: 267px;
	position: absolute;
	z-index: 2;
	animation: explodeToBottomLeft 1.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards, spinForever 2s linear 1.4s infinite;

	img {
		width: 100%;
	}
}

.backgroundElement5 {
	top: 238px;
	right: 205px;
	position: absolute;
	z-index: 2;
	animation: explodeToRight 1.1s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards, spinForever 2s linear 1.1s infinite;

	img {
		width: 100%;
	}
}

.backgroundElement6 {
	top: 457px;
	right: 286px;
	position: absolute;
	z-index: 2;
	animation: explodeToBottomRight 1.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards, spinForever 2s linear 1.3s infinite;

	img {
		width: 100%;
	}
}

.loginCont {
	display: flex;
	width: 473px;
	height: 470px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	border-radius: 40.5px;
	background: rgba(255, 255, 255, 0.10);
	z-index: 10;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
		border-radius: 42.5px;
		background: linear-gradient(45deg,
				#BA2FFC 0%,
				#B529FD 16%,
				#B123FD 32%,
				#A617F8 50%,
				#C836F2 75%,
				#EB55EC 100%,
				#BA2FFC 100%);
		background-size: 300% 300%;
		z-index: -1;
		animation: borderGradient 4s ease-in-out infinite;
	}
}

.loginCont1 {
	display: flex;
	width: 473px;
	height: 470px;
	padding: 50px 30px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	border-radius: 40.5px;
	background: #21273a;
}

.h6 {
	color: #fff;

	span {
		background: linear-gradient(270deg,
				#BA2FFC 0%,
				#B529FD 16%,
				#B123FD 32%,
				#A617F8 50%,
				#C836F2 75%,
				#EB55EC 100%,
				#BA2FFC 100%);
		background-size: 200% 200%;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: gradientShift 3s ease-in-out infinite;
	}
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;

	input[type="email"] {
		display: flex;
		height: 50.02px;
		padding: 16.942px 12.908px;
		justify-content: center;
		align-items: center;
		gap: 8.068px;
		align-self: stretch;
		border-radius: 6.454px;
		border: 0.807px solid #D9D9D9;
		background: #FEFEFE;
		color: #757575;
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	input[type="password"] {
		display: flex;
		height: 50.02px;
		padding: 16.942px 12.908px;
		justify-content: center;
		align-items: center;
		gap: 8.068px;
		align-self: stretch;
		border-radius: 6.454px;
		border: 0.807px solid #D9D9D9;
		background: #FEFEFE;
		color: #757575;
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	button {
		display: flex;
		width: 100%;
		height: 46px;
		padding: 18.556px 29.851px;
		justify-content: center;
		align-items: center;
		gap: 8.068px;
		border: 0;
		border-radius: 4.841px;
		background: #A617F8;
		color: #FFF;
		font-family: Inter;
		font-size: 12.908px;
		font-style: normal;
		font-weight: 500;
		line-height: 16.136px;
		cursor: pointer;
	}
}

.errorInput {
	border: 0.807px solid #ff4444 !important;
	background: rgba(255, 68, 68, 0.05) !important;

	&::placeholder {
		color: #ff4444 !important;
		font-weight: 500;
	}
}

.errorCheckbox {
	border: 1px solid #ff4444 !important;
	background: rgba(255, 68, 68, 0.1) !important;
}

.errorText {
	color: #ff4444 !important;
	font-weight: 500;
}

.checkboxContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	height: 18px;

	input[type="checkbox"] {
		border: 0 !important;
		width: 16px;
		height: 16px;
		margin: 0;
		cursor: pointer;

	}

	p {
		margin: 0;
		line-height: 18px;
	}
}

@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes floatLeft {
	0% {
		top: 0px;
		left: 0px;
	}

	25% {
		top: -8px;
		left: 0px;
	}

	50% {
		top: -20px;
		left: 0px;
	}

	75% {
		top: -8px;
		left: 0px;
	}

	100% {
		top: 0px;
		left: 0px;
	}
}

@keyframes floatRight {
	0% {
		top: 0px;
		right: 0px;
	}

	25% {
		top: -10px;
		right: 5px;
	}

	50% {
		top: -15px;
		right: 0px;
	}

	75% {
		top: -10px;
		right: -5px;
	}

	100% {
		top: 0px;
		right: 0px;
	}
}

@keyframes explodeToLeft {
	0% {
		top: 50vh;
		left: 50vw;
		transform: translate(-50%, -50%) scale(0) rotate(0deg);
		opacity: 0;
	}

	100% {
		top: 247px;
		left: 242px;
		transform: translate(0, 0) scale(1) rotate(360deg);
		opacity: 1;
	}
}

@keyframes explodeToBottomLeft {
	0% {
		top: 50vh;
		left: 50vw;
		transform: translate(-50%, -50%) scale(0) rotate(0deg);
		opacity: 0;
	}

	100% {
		top: 470px;
		left: 267px;
		transform: translate(0, 0) scale(1) rotate(360deg);
		opacity: 1;
	}
}

@keyframes explodeToRight {
	0% {
		top: 50vh;
		right: 50vw;
		transform: translate(50%, -50%) scale(0) rotate(0deg);
		opacity: 0;
	}

	100% {
		top: 238px;
		right: 205px;
		transform: translate(0, 0) scale(1) rotate(360deg);
		opacity: 1;
	}
}

@keyframes explodeToBottomRight {
	0% {
		top: 50vh;
		right: 50vw;
		transform: translate(50%, -50%) scale(0) rotate(0deg);
		opacity: 0;
	}

	100% {
		top: 457px;
		right: 286px;
		transform: translate(0, 0) scale(1) rotate(360deg);
		opacity: 1;
	}
}

@keyframes spinForever {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes borderGradient {
	0% {
		background-position: 0% 50%;
	}

	25% {
		background-position: 100% 0%;
	}

	50% {
		background-position: 100% 100%;
	}

	75% {
		background-position: 0% 100%;
	}

	100% {
		background-position: 0% 50%;
	}
}