.whyBrandChoseUsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 176px;
    gap: 48px;
}

.h3 {
    font-family: 'Outfit';
    font-size: 48px;
    font-weight: 800;
    color: white;
    
}

.span {
    color: #B123FD;
}

.cardCont {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 1235px;
}

.card {
    display: flex;
    gap: 24px;
}