@font-face {
  font-family: 'Surgena';
  src: url('../fonts/Surgena.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Surgena";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 114%;
  letter-spacing: -0.96px;
  color: #FFF;
}

h3 {
  font-family: "Outfit";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 114%;
  letter-spacing: -1%;
  color: #FFF;
}

p {
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 152%;
}

h6 {
  text-align: center;
  font-family: "Surgena";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 114%;
  letter-spacing: -0.96px;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  max-width: 100vw;

  scrollbar-width: none; // 👈 Firefox
  -ms-overflow-style: none; // 👈 IE/Edge

  &::-webkit-scrollbar {
    display: none; // 👈 Chrome/Safari
  }
}

body {
  background-color: #060C22;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  margin: 0;
}