@font-face {
  font-family: 'Surgena';
  src: url('../fonts/Surgena.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

p {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.817px;
}

h6 {
  text-align: center;
  font-family: "Surgena";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 114%;
  letter-spacing: -0.96px;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  max-width: 100vw;
}

body {
  background-color: #F8FAFB;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  margin: 0;
}