.inner {
    background-color: black;
    
    .page {
        background-color: #0B1233;
        position: relative;
        z-index: 0;
    }
    
    .slide {
        height: 100vh;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #0B1233;
        z-index: 9999;
        pointer-events: none;
    }
}
