.ctaWrp {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 93px 0;
}

.ctaContent {
  background-color: #0B1233;
  padding: 103px 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1161px;
  border-radius: 24px;

  h3 {
    margin-bottom: 24px;
    color: white;
    font-size: 48px;
  }

  p {
    color: white;
    font-size: 16px;
    line-height: 1.6;
    max-width: 600px;
  }
}

.ctaBadge {
  margin-bottom: 32px;
}

.ctaBTNs {
  display: flex;
  gap: 16px;
}

@media (max-width: 480px) {
  .ctaContent {
    width: 312px;
    padding: 48px 32px;
  }

  .ctaBTNs {
    flex-direction: column;
  }

  .ctaH3 {
    font-size: 32px !important;
  }
}