.container {
    margin-top: 174px;
    margin-bottom: 174px;
    position: relative;  // ← add this
    overflow: visible;   // ← allow glow to leak out
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    font-family: 'Surgena';
    color: white;
    font-size: 72px;
    text-align: center;
    margin-bottom: 24px;
}

.span {
    font-family: 'Surgena';
    background: linear-gradient(to right,
            #BA2FFC 0%,
            #B529FD 16%,
            #B123FD 32%,
            #A617F8 75%,
            #C836F2 87%,
            #EB55EC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.description {
    font-family: 'Outfit';
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    width: 957px;
    color: white;
    margin-bottom: 48px;
}

.btncontainer {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 16px;
}

.glow {
    position: absolute;
    top: -1050px;
    left: 200px;
    width: 467px;
    height: 2500.98px;
    border-radius: 233.5px;
    background: linear-gradient(
        90deg,
        rgba(251, 168, 28, 0.26) 0%,
        rgba(224, 86, 136, 0.15) 100%
    );
    opacity: 0.5;
    filter: blur(80px);
    transform: rotate(71.43deg);
    transform-origin: center center;
    pointer-events: none;
    z-index: 0;
}

